h1 {
    color: #6ECCAF;
    font-size: 20px;
    padding: 40px 80px;
}

.r-m-navbar{
    background-color: #344D67;
    min-height: 168px;
    height: fit-content;
    padding: 20px;
}

.r-m-pill{
    color: #6ECCAF;
    border-radius: 0.375rem;
}

.r-m-pill:active{
    background-color: #6ECCAF;
    color: #344D67;
    padding: 8px;
}

.r-m-pill:hover{
    background-color: #6ECCAF;
    color: #344D67;
    padding: 8px;
}

.r-m-pill:focus{
    background-color: #6ECCAF;
    color: #344D67;
    padding: 8px;
}

@media (max-width: 575px) {
    h1 {
        padding: 30px 40px;
    }
    
}

@media (max-width: 459px) {
    h1 {
        padding: 30px 10px;
    }
    
}

@media (max-width: 400px) {
    .r-m-navbar {
        min-height: 120px;
        padding: 10px;
    }

    .nb-icon {
        width: 30px;
    }
    
}

@media (max-width: 331px) {
    .r-m-navbar {
        min-height: 100px;
    }
    
}
