@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;900&display=swap');

:root {
  --primary-color: #344D67;
  --secondary-color: #6ECCAF; 
}

*{
  font-family: Raleway, sans-serif, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  background: fixed/cover url("./assets/rickymorty.jpg");
}

#tx-cl-1{
  color: var(--primary-color);
}

#tx-cl-2{
  color: var(--secondary-color);
}