@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #6ECCAF;
  --secondary-color: #344D67; 
}

*{
  font-family: Raleway, sans-serif, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
}